* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

.dashboard {
    background: linear-gradient(0.25turn, #6b82e4f5, #03104bf5);
    color: white;
    font-size: 18px;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.search h2 {
    font-size: 25px;
}
/* elected to utilize the grid function instead of listing localStorage results inside an aside bar style */
/* trouble shooting was difficult, but goal was to match README demo as close as possible to improve my CSS skills */
.container {
    display: grid;
    grid-template-columns: 250px 300px;
    grid-gap: 10px;
    height: 75vh;
    width: 75vw;
    padding: 10px;
    margin: 0px;
}

.search {
    grid-row:span 2;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.search input {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
}

.searchBtn {
    padding: 10px;
    width: 200px;
    background-color: rgb(133, 167, 231);
    color: white;
    font-size: 15px;
    border-radius: 5px;
}

.present_day_container {
    grid-row: span 1;
    border: solid 1px black;
    justify-content: space-around;
    text-align: left;
    width:75vw;
    padding: 10px;
    border-radius: 5px;
}

.city {
    font-size: 25px;
}

.container_forecast {
    grid-row: span 1;
    width: 75vw;
    justify-content: center;
    text-align: center;
    padding: 1px;
}

.five_day_forecast {
    display: inline-block;
    text-align: left;
    justify-content: space-around;
    background: #7681bef5;
    padding: 50px;
    margin: 10px;
    color: white;
}

.container_forecast h2 {
    text-align: left;
}

#todaysDate {
    font-size: 20px;
}

/* CSS properties for UV Index color coding */
.favorable {
    background-color: #2afd00;
    color: white;
}
  
.moderate {
    background-color: #fbff00;
    color: white;
 }
  
.severe {
    background-color: #ff0000;
    color: white;
}
  